body {
  margin: 0;
}

pre {
	margin-left: 10%;
  font-family: helveticaworld-regular;
	font-size: 16px;
}

table {
  border-collapse: collapse;
}

.debug {
  border: 10px solid yellow;
}

/*********************/
.title, .author {
  font-family: FBI;
  text-align: center;
}

.title {
  font-size: 20pt;
}

.author {
  font-size: 14pt;
}
/*********************/


#bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('images/site-bg.png') no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#nav{
  background-color: black;
  width: 100%;
  position: fixed;
}

#nav td{
  color: white;
  font-family: FBI;
  font-size: 20pt;
  padding: 0;
}

#nav img {
  max-height: 100%;
  max-width: 100%;
  /*height: auto;
  width: auto;*/
}

#spacer {
  height: 180px;
}

#content-wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(100,100,100,0.75);
  clear: both;
}

#content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

/********************************************************************************/

@font-face {
    font-family: FBI;
    src: url('fonts/FBI.ttf');
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('fonts/helvetivaworld-regular.ttf');
}

@font-face {
    font-family: helveticaworld-bold;
    src: url('fonts/helvetivaworld-bold.ttf');
}

@font-face {
    font-family: helveticaworld-italic;
    src: url('fonts/helveticaworld-italic.ttf');
}

@font-face {
    font-family: helveticaworld-bold-italic;
    src: url('fonts/helvetivaworld-bold-italic.ttf');
}

@font-face {
    font-family: schoolbook-regular;
    src: url('fonts/schoolbook-regular.ttf');
}

@font-face {
    font-family: schoolbook-bold;
    src: url('fonts/schoolbook-bold.ttf');
}

@font-face {
    font-family: schoolbook-italic;
    src: url('fonts/schoolbook-italic.ttf');
}

@font-face {
    font-family: schoolbook-bold-italic;
    src: url('fonts/schoolbook-bold-italic.ttf');
}