@font-face {
    font-family: FBI;
    src: url('fonts/FBI.ttf');
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('fonts/helvetivaworld-regular.ttf');
}

body {
  margin: 0;
}

pre { /* contains the poetry, for now */
	font-family:helveticaworld-regular;
	font-size:16px;
}

table {
  border-collapse: collapse;
}

.center {
  margin: 0 auto; /* center it */
}

.FBI-small {
  font-size: 14pt;
}

#bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('images/site-bg.png') no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#nav{
  background-color: black;
  /*position: fixed;*/
  width: 100%;
}

#nav td{
  color: white;
  font-family: FBI;
  font-size: 20pt;

  /*border: 1px solid yellow;*/
  padding: 0;
}

#nav img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

#main-content {

}