
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

pre {
	margin-left: 10%;
	font-family: helveticaworld-regular;
	font-size: 1.1em;
	line-height: 20px;
	overflow-y: hidden;
	overflow-x: auto;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

.debug {
  border: 5px solid yellow;
}

/*********************/
.title, .author {
  font-family: FBI;
  text-align: center;
}

.author:before {
  content: "By: ";
}

.title {
  font-size: 2em;
}

.author {
  font-size: 1.3em;
}
/*********************/


#bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 1440px;
  min-height: 810px;
  z-index: -1;
}

#nav {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 20%;
  max-height: 20%;
}

#nav td {
  color: white;
  font-family: FBI;
  font-size: 28pt;
}

#nav img {
  
}

#spacer {
  height: 20%; /* always make this the same height as #nav */
}

#content-wrapper { /* dead */
  width: 60%;
  margin: 0 auto;
  background-color: rgba(100,100,100,0.85);
  /*height: auto;*/
  min-height: 100%;
  /*min-height: 100%;*/
}

#content {
  /*width: 93%;*/
  width: 60%;
  margin: 0 auto;
  background-color: white;
  height: auto;
  min-height: 100%;
  padding-top: 10px;
  
  box-shadow: 0 0 0 55px rgba(100, 100, 100, 0.75);
}

#authors-column {
  float: left;
}

#authors-column > ul {
  margin-left: 20px;
}

#authors-column li {
  font-family: helveticaworld-regular;
	font-size: 22px;
}

#content-column:before { /* byline */
  content: "";
  width: 0.4em;
  border-left: 0.25em solid red; /* the real byline */
  border-right: 0.25em solid black; /* the real byline */
  top: 0;
  position: fixed;
  height: 100%;
}

#content-column {
  width: 80%;
  float: right;
  height: auto;
}

/********************************************************************************/

@font-face {
    font-family: FBI;
    src: url('fonts/FBI.ttf');
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('fonts/helveticaworld-regular.ttf');
}

@font-face {
    font-family: helveticaworld-bold;
    src: url('fonts/helvetivaworld-bold.ttf');
}

@font-face {
    font-family: helveticaworld-italic;
    src: url('fonts/helveticaworld-italic.ttf');
}

@font-face {
    font-family: helveticaworld-bold-italic;
    src: url('fonts/helvetivaworld-bold-italic.ttf');
}

@font-face {
    font-family: schoolbook-regular;
    src: url('fonts/schoolbook-regular.ttf');
}

@font-face {
    font-family: schoolbook-bold;
    src: url('fonts/schoolbook-bold.ttf');
}

@font-face {
    font-family: schoolbook-italic;
    src: url('fonts/schoolbook-italic.ttf');
}

@font-face {
    font-family: schoolbook-bold-italic;
    src: url('fonts/schoolbook-bold-italic.ttf');
}