@font-face {
    font-family: FBI;
    src: url('FBI.ttf');
    /*url('Thonburi-Bold.eot');
      IE (TODO) */
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('helvetivaworld-regular.ttf');
}

body {
	background-image:url(site_bg.png);
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

pre {
	font-family:helveticaworld-regular;
	font-size:16px;
}

#nav{
  background-color: black;
  
  width: 100%;
  top: 100px;
}

#nav td{
  color: white;
  font-family: FBI;
  font-size: 20pt;
}