html, body {
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 0px;*/
    margin: 0px;
    background-color: black;
}

div#container {
    height: 100%;
    height: auto !important;
    min-height: 100%;
}

div#main {
    overflow: auto;
    /*padding-bottom: 100px;*/

    background-color: rgba(255,0,0,0.6);
    width: 80%;
    margin: 0 auto;
}

div#header {
    /*height: 100px;
    background: #ba6f19;
    padding: 20px;*/
    display: none;
}

div#body {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    height: 100%;

    background-color: white;
    /*width: 95%;*/
}

div#left-sidebar {
    width: 30%;
    float: left;
    margin: 0;
}

div#content {
    float: left;
    width: 40%;
    margin: 0;
}

div#right-sidebar {
    width: 260px;
    float: right;
    width: 30%;
    margin: 0;
}

div#footer {
    background: #ba6f19;
    border-top: 1px solid #000;

    position: relative;
    height: 100px;
    margin-top: -101px;
    clear: both;
}