html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

iframe {
  display: block;
  margin: 20px auto;
  width: 90%;
}

/*********************/
.title, .author {
  font-family: 'cf_fbi_old_reportregular';
  text-align: center;
  line-height: 30px;
}

.author:before {
  content: "By: ";
}

.title {
  font-size: 2em;
}

.author {
  font-size: 1.3em;
}
/*********************/


#bg-image {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#nav {
  background-color: black;

  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  
  color: white;
  font-family: 'cf_fbi_old_reportregular';
  font-size: 2.5em;
  line-height: 40px;

  padding-top: 10px;
  padding-bottom: 10px;
}

#nav img {
  margin-left: 0.5em;
}

#nav-links {
  white-space: nowrap;
  word-spacing: 25px;

  position: absolute;
  top: 50%;
  margin-top: -75px;
  left: 300px;
  width: 100%;
  overflow-x: auto;
}

#nav-links-inner {
  height: 150px;
  width: 2000px;
}

#spacer {
  height: 10em;
}

#content {
  /*width: 100em;*/
  width: 70%;
  max-width: 95%;
  min-width: 60%;
  /*position: relative;*/
  position: absolute;
  /*left: 0;*/
  right: 0;
  /*margin: 0 auto;*/
  margin-right: 5%; 
    /*offset a bit to the right */
  background-color: white;
  padding-top: 10px;
  box-shadow: 0 0px 0 3em rgba(100, 100, 100, 0.75); /* transparent gray */
}

#authors-column {
  height: 100%;
  position: fixed;
  overflow-y: auto;
  padding-right: 20px;
}

#authors-column > ul {
  height: 100%;
  margin-left: 5px;
  overflow-y: auto;
}

#authors-column li {
  font-family: helveticaworld-regular, Helvetica;
  font-size: 1.4em;
  margin: 10px auto;
}

 #byline {
  width: 0.4em;
  border-left: 0.25em solid red; /* the real byline */
  border-right: 0.25em solid black; /* the real byline */
  position: absolute;
  height: 100%;
  top: 0;
  display: inline-block;
  margin-left: 15em;
}

#content-column {
  padding-top: 10px;
  padding-bottom: 30px;
  float: right;
  width: 40%; 
  margin-right: 20%;
  min-width: 315px; /* content bleeding with byline -- TODO check on smaller screens */
}

/*@media screen and (max-width: 1900px) {
  #content-column {
    width: 30%;
    margin-right: 10%;
  }
  #content {
    margin-right: 5%;
    width: 90em;
  }
  #authors-column {

  }
}*/

#content-column p { /* poems */
  margin-left: 15%;
  font-family: helveticaworld-regular, Helvetica;
  font-size: 1.1em;
  line-height: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 50px;
  padding-bottom: 5px;
  white-space: pre-line;
}

#content-column img {
  max-width: 90%;
  margin: 10px auto;
  display: block;
}

.anchor {
  display: block;
  position: relative;
  top: -200px; /* offset */
}

/********************************************************************************/

@font-face {
    font-family: 'cf_fbi_old_reportregular';
    src: url('fonts/fbi-webfont.eot');
    src: url('fonts/fbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fbi-webfont.woff') format('woff'),
         url('fonts/fbi-webfont.ttf') format('truetype'),
         url('fonts/fbi-webfont.svg#cf_fbi_old_reportregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('fonts/helveticaworld-regular.ttf');
}

/* @font-face {
    font-family: helveticaworld-bold;
    src: url('fonts/helvetivaworld-bold.ttf');
}

@font-face {
    font-family: helveticaworld-italic;
    src: url('fonts/helveticaworld-italic.ttf');
}

@font-face {
    font-family: helveticaworld-bold-italic;
    src: url('fonts/helvetivaworld-bold-italic.ttf');
}

@font-face {
    font-family: schoolbook-regular;
    src: url('fonts/schoolbook-regular.ttf');
}

@font-face {
    font-family: schoolbook-bold;
    src: url('fonts/schoolbook-bold.ttf');
}

@font-face {
    font-family: schoolbook-italic;
    src: url('fonts/schoolbook-italic.ttf');
}

@font-face {
    font-family: schoolbook-bold-italic;
    src: url('fonts/schoolbook-bold-italic.ttf');
} */