html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  /*border-collapse: collapse;*/
}

ul {
  list-style-type: none;
}

.debug {
  border: 5px solid yellow;
}

/*********************/
.title, .author {
  font-family: 'cf_fbi_old_reportregular';
  text-align: center;
  line-height: 30px;
  margin-bottom: 15px;
}

.author:before {
  content: "By: ";
}

.title {
  font-size: 2em;
}

.author {
  font-size: 1.3em;
}
/*********************/


#bg-image {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#nav-wrapper {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#nav {
  min-width: 120em;
}

#nav tr {
  height: 50%;
}

#row-1 td{
  /*vertical-align: bottom;*/
}

#row-2 td{
  vertical-align: top;
}

#nav td {
  color: white;
  font-family: 'cf_fbi_old_reportregular';
  font-size: 2.5em;
  line-height: 30px;
  margin-top: 10%;
}

#nav img {
  /* TODO size issues */
    /* or maybe it's fine */
}

#spacer {
  height: 11em;
}

#content {
  width: 65em;
  max-width: 95%;
  min-width: 60%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-right: 13%; /* offset a bit to the right */
  background-color: white;
  padding-top: 10px;
  box-shadow: 0 0px 0 3em rgba(100, 100, 100, 0.75); /* transparent gray */
}

#authors-column {
  float: left;
  position: fixed;
  overflow-y: scroll;
}

#authors-column > ul {
  margin-left: 5px;
  margin-top: 0;
}

#authors-column li {
  font-family: helveticaworld-regular, Helvetica;
  font-size: 1.4em;
  margin: 10px auto;
}

 #byline {
  width: 0.4em;
  border-left: 0.25em solid red; /* the real byline */
  border-right: 0.25em solid black; /* the real byline */
  position: absolute;
  height: 100%;
  top: 0;
  display: inline-block;
  margin-left: 15em;
}

#content-column {
  padding-left: 25%;
}

#content-column p { /* poems */
  margin-left: 15%;
  font-family: helveticaworld-regular, Helvetica;
  font-size: 1.1em;
  line-height: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 50px;
  white-space: pre-line;
}

#content-column img {
  margin-top: 20px;
  max-width: 90%;
  margin: 10px auto;
  display: block;
}

/********************************************************************************/

@font-face {
    font-family: 'cf_fbi_old_reportregular';
    src: url('fonts/fbi-webfont.eot');
    src: url('fonts/fbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fbi-webfont.woff') format('woff'),
         url('fonts/fbi-webfont.ttf') format('truetype'),
         url('fonts/fbi-webfont.svg#cf_fbi_old_reportregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helveticaworld-regular;
    src: url('fonts/helveticaworld-regular.ttf');
}

/* @font-face {
    font-family: helveticaworld-bold;
    src: url('fonts/helvetivaworld-bold.ttf');
}

@font-face {
    font-family: helveticaworld-italic;
    src: url('fonts/helveticaworld-italic.ttf');
}

@font-face {
    font-family: helveticaworld-bold-italic;
    src: url('fonts/helvetivaworld-bold-italic.ttf');
}

@font-face {
    font-family: schoolbook-regular;
    src: url('fonts/schoolbook-regular.ttf');
}

@font-face {
    font-family: schoolbook-bold;
    src: url('fonts/schoolbook-bold.ttf');
}

@font-face {
    font-family: schoolbook-italic;
    src: url('fonts/schoolbook-italic.ttf');
}

@font-face {
    font-family: schoolbook-bold-italic;
    src: url('fonts/schoolbook-bold-italic.ttf');
} */